
.mainContent{
    display: block;
    margin: 0rem 7rem;
}

.action {
	background:linear-gradient(to bottom, #ebc69b 5%, #e2c4a2 100%);
	background-color:#ebc69b;
	border-radius:0.3rem;
	border: 2px solid #e2c4a2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
	padding: 0.8rem 26px;
	text-decoration:none;
    border: none;
}
.action:hover {
	background:linear-gradient(to bottom, #e4b683 5%, #ebc69b 100%);
	background-color:#bd9c77;
}
.action:active {
	position:relative;
	top:1px;
}


